.h1div {
    border: 8px dotted #e6e6ff;

}
 html {
    font-family: Oswald;
     background-color: #993333;
     
 }
 
 .h2div {
     border: 7px solid #133926;
 }
 
 .fam {
    width: 600px;
    float: left;
    /*height: 300px;*/
}

.h3div {
 border: 7px solid #133926;
}

#right {
 width:700px;
 float: right;
}

#navbar {
    background-color: #000000;
    text-align:center;
}


#navbar li { 
    display: inline-block;
    padding:10px;
    font-size: 20px;
    border:2px #cc6699;
    background-color: white;
}

#navbar a {
    text-decoration: none;
    color: #00001a;
}

