.h1div {
    text-align: center;
    border: 6px dotted #e6e6ff;
}

html {
    
     background-color: #6666ff;
     font-family: Oswald;
     
     
     
}
.fam {
    width: 600px;
    height: 300px;
}


#navbar {
    background-color: #13060d;
    text-align:center;
}


#navbar li { 
    display: inline-block;
    padding:10px;
    font-size: 20px;
    border:2px #cc6699;
    background-color: white;
}

#navbar a {
    text-decoration: none;
    color: #00001a;
}

#left{
    float: left;
    width: 68%;
     border:2px  #000033 double;
    
}

#right{
    float: right;
    width: 30%;
    border:2px #000033 double;
    
}
